.dialog-title {
  font-size: 18px;
  font-weight: 400;
}

.dialog-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0,0,0,.54)
}

.dialog-actions > button {
  text-transform: uppercase;
}