<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Quản lý lịch họp</span>
    <span flex></span>
  </div>
</mat-toolbar>

<mat-card *tdLoading="'isLoading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'primary';">
  <div flex fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row">
      <button mat-flat-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        <mat-icon class="navigate-button">navigate_before</mat-icon>
      </button>
      <button mat-flat-button mwlCalendarToday [(viewDate)]="viewDate">
        Hiện tại
      </button>
      <button mat-flat-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        <mat-icon class="navigate-button">navigate_next</mat-icon>
      </button>
    </div>
    <div fxLayout="row">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}</h3>
    </div>
  </div>
  <div flex fxLayout="row" fxLayoutAlign="end center">
    <button *hasPermission="[ACTION.CREATE_MEETING]" mat-flat-button color="accent" (click)="onAddMeeting()">Tạo
      mới</button>
  </div>
  <br />
  <br />

  <ng-template #monthCellTemplate let-day="day" let-openDay="openDay" let-locale="locale"
    let-tooltipPlacement="tooltipPlacement" let-highlightDay="highlightDay" let-unhighlightDay="unhighlightDay"
    let-eventClicked="eventClicked">
    <div class="fill-height">
      <div class="cal-cell-top">
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      </div>
      <div class="cal-events">
        <div class="cal-event" *ngFor="let event of day.events" [style.backgroundColor]="event.color.primary"
          [ngClass]="event?.cssClass" (mouseenter)="highlightDay.emit({event: event})"
          (mouseleave)="unhighlightDay.emit({event: event})"
          [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
          [tooltipPlacement]="tooltipPlacement" (click)="$event.stopPropagation(); eventClicked.emit({event: event})">
        </div>
      </div>
    </div>
  </ng-template>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen" [locale]="locale" [weekStartsOn]="weekStartsOn" [weekendDays]="weekendDays"
      (dayClicked)="dayClicked($event.day)" [cellTemplate]="monthCellTemplate">
    </mwl-calendar-month-view>
  </div>
</mat-card>