<td-layout>
  <td-navigation-drawer flex [name]="user ? user.lastName + ' ' + user.firstName : ''" [sidenavTitle]="name"
    [email]="user ? user.email : ''" navigationRoute="/">
    <mat-nav-list class="mat-nav-list" role="navigation">
      <a *ngFor="let item of routes" mat-list-item [routerLink]="item.route" tdLayoutClose routerLinkActive="active">
        <mat-icon class="sidenav-icon">{{item.icon}}</mat-icon>{{item.title}}
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon class="sidenav-icon">exit_to_app</mat-icon> Đăng xuất
      </a>
    </mat-nav-list>
  </td-navigation-drawer>
  <td-layout-nav [toolbarTitle]="name" navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span flex></span>
      <a mat-icon-button matTooltip="Đi đến svdanang.com" [href]="PUBLIC_URL" target="_blank">
        <mat-icon>
          launch
        </mat-icon>
      </a>
    </div>
    <td-layout-manage-list #manageList [opened]="media.registerQuery('gt-sm') | async"
      [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
      [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
      <mat-toolbar td-sidenav-content>
        <!-- <mat-icon class="push-left-xs">home</mat-icon>
        <span class="push-left">CMS</span> -->

        <img class="push-left logo-sidebar" src="assets/icons/sv-logo.png" alt="">
      </mat-toolbar>
      <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
        <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
          <mat-icon matListIcon class="sidenav-icon">dashboard</mat-icon> Trang tổng quan
        </a>
        <h3 matSubheader>Quản lý</h3>
        <ng-template let-item let-last="last" ngFor [ngForOf]="mgmtmenu">
          <a *hasPermission="item.permissions" mat-list-item [routerLink]="item.route" routerLinkActive="active">
            <mat-icon matListIcon class="sidenav-icon">{{item.icon}}</mat-icon> {{item.title}}
          </a>
        </ng-template>
        <h3 matSubheader>Cài đặt</h3>
        <ng-template let-item let-last="last" ngFor [ngForOf]="settingsmenu">
          <a *hasPermission="item.permissions" mat-list-item [routerLink]="item.route" routerLinkActive="active">
            <mat-icon matListIcon class="sidenav-icon"> {{item.icon}}</mat-icon> {{item.title}}
          </a>
        </ng-template>
      </mat-nav-list>
      <router-outlet></router-outlet>

    </td-layout-manage-list>
  </td-layout-nav>
</td-layout>