mat-table img{
  object-fit: cover;
  width: 80%;
  height: 80%;
  max-height: 200px;
}

mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
    flex: 0 0 15%;
}

mat-cell:nth-child(2),
mat-header-cell:nth-child(2) {
    flex: 0 0 21%;
    padding-right: 5px;
}

mat-cell:nth-child(3),
mat-header-cell:nth-child(3) {
    flex: 0 0 7%;
}


mat-cell:nth-child(6),
mat-header-cell:nth-child(6) {
    // flex: 0 0 7%;
    // padding-right: 10px;
}

mat-cell:nth-child(7),
mat-header-cell:nth-child(7) {
    flex: 0 0 15%;
    // padding-right: 10px;
}



mat-cell:nth-child(8),
mat-header-cell:nth-child(8) {
    flex: 0 0 7%;
}

.text-progress {
    position:relative;
    top: 15px;
    left: -50%;
    font-size: 12px;
}