<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content *tdLoading="'loading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'primary'">
  <mat-tab-group>
    <mat-tab label="Vai trò">
      <div class="mat-container">
        <form [formGroup]="roleForm" flex fxLayout="column">
          <mat-form-field>
            <input (blur)="onValueChanged()" matInput placeholder="Tên vai trò" formControlName="name" required>
            <mat-error *ngIf="formErrors.name">
              {{ formErrors.name }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mô tả" formControlName="description">
          </mat-form-field>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Phân quyền">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
            (change)="todoLeafItemSelectionToggle(node)">{{node.displayName}}</mat-checkbox>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <mat-checkbox [checked]="descendantsPartiallySelected(node)" (change)="todoItemSelectionToggle(node)">
            {{node.displayName}} </mat-checkbox>
        </mat-tree-node>
      </mat-tree>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close mat-flat-button>Trở về</button>
  <button mat-button mat-raised-button color="accent" [disabled]="roleForm.invalid || submitting"
    (click)="onSubmit()">Lưu</button>
</mat-dialog-actions>

<!-- <mat-tab-group>
  <mat-tab label="Vai trò">
    <ng-template matTabContent>
      <div class="mat-container">
        <mat-form-field>
          <input type="text" matInput placeholder="Tên vai trò">
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Mô tả">
        </mat-form-field>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Phân quyền">
    <ng-template matTabContent>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)">{{node.displayName}}</mat-checkbox>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
            (change)="todoItemSelectionToggle(node)">{{node.displayName}} </mat-checkbox>
        </mat-tree-node>
      </mat-tree>
    </ng-template>
  </mat-tab>
</mat-tab-group> -->


<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->
<!-- <mat-card-content class="push-bottom-none">
  <form #userForm="ngForm">
    <div layout="row">
      <mat-form-field flex>
        <input matInput #displayNameElement #displayNameControl="ngModel" type="text" placeholder="Display Name"
          [(ngModel)]="displayName" name="displayName" maxlength="20" required>
        <mat-hint align="start">
          <span [hidden]="displayNameControl.pristine" class="tc-red-600">
            <span [hidden]="!displayNameControl.hasError('required')">Required</span>
          </span>
        </mat-hint>
        <mat-hint align="end">{{displayNameElement.value.length}} / 20</mat-hint>
      </mat-form-field>
    </div>
    <div layout="row" class="push-top">
      <mat-form-field flex>
        <input matInput #emailElement #emailControl="ngModel" type="text" placeholder="Email" [(ngModel)]="email" name="email"
          maxlength="30" pattern="^[a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,15})$"
          required>
        <mat-hint align="start">
          <span [hidden]="emailControl.pristine" class="tc-red-600">
            <span [hidden]="!emailControl.hasError('required')">Required</span>
            <span [hidden]="!emailControl.hasError('pattern')">incorrect pattern</span>
          </span>
        </mat-hint>
        <mat-hint align="end">{{emailElement.value.length}} / 30</mat-hint>
      </mat-form-field>
    </div>
    <div layout="row">
      <mat-slide-toggle [(ngModel)]="admin" name="admin">Admin</mat-slide-toggle>
    </div>
  </form>
</mat-card-content>
<mat-divider></mat-divider>
<mat-card-actions>
  <button mat-button [disabled]="!userForm.form.valid" color="primary" (click)="save()">SAVE</button>
  <button mat-button (click)="onClose()">CANCEL</button>
</mat-card-actions> -->