<div align="end">
  <button mat-raised-button color="accent" (click)="onAddDonation()">Thêm</button>
</div>

<div class="search-box" flex fxLayout="row" fxLayoutGap="15px">
  <mat-form-field class="w100">
    <mat-label>Tìm kiếm</mat-label>
    <input #search matInput>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<mat-table #table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="amount"
  matSortDirection="desc" matSortDisableClear multiTemplateDataRows>

  <ng-container matColumnDef="avatar">
    <mat-header-cell *matHeaderCellDef> Ảnh đại diện </mat-header-cell>
    <mat-cell *matCellDef="let donation">
      <img mat-card-avatar *ngIf="donation.avatar;else noAvatar" [src]="donation.avatar">
      <ng-template #noAvatar>
        <img mat-card-avatar alt=""
          src="http://angular.demo.aspnetzero.com/assets/common/images/default-profile-picture.png" />
      </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef>Họ và tên</mat-header-cell>
    <mat-cell *matCellDef="let donation">{{donation.lastName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef>Tên</mat-header-cell>
    <mat-cell *matCellDef="let donation">{{donation.firstName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell *matCellDef="let donation">{{donation.email}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <mat-header-cell *matHeaderCellDef>Điện thoại</mat-header-cell>
    <mat-cell *matCellDef="let donation">{{donation.phoneNumber}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Số tiền ủng hộ</mat-header-cell>
    <mat-cell *matCellDef="let donation">{{donation.amount}} {{ donation.currencyName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="fee">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Phí giao dịch</mat-header-cell>
    <mat-cell *matCellDef="let donation">{{donation.fee}} {{ donation.currencyName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Ngày ủng hộ</mat-header-cell>
    <mat-cell *matCellDef="let donation">{{donation.createdAt | dateFormat }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="note">
    <mat-header-cell *matHeaderCellDef>Ghi chú</mat-header-cell>
    <mat-cell *matCellDef="let donation" class="note-cell">{{donation.note}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let donation">
      <button *ngIf="donation.status" mat-icon-button color="accent" (click)="onEdit(donation.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="donation.status" mat-icon-button color="warn" (click)="onDelete(donation.id)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="loading">
    <mat-footer-cell *matFooterCellDef>
      <mat-spinner [diameter]="60" style="margin-top: 10px; margin-bottom: 10px;"></mat-spinner>
    </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="noData">
    <mat-footer-cell *matFooterCellDef>
      Không có dữ liệu.
    </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="donatedAmount">
    <mat-footer-cell *matFooterCellDef class="donated-amount-cell">
      Tổng số tiền ủng hộ: {{ donated.raised | number }} {{ donated.name }}
    </mat-footer-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <mat-footer-row *matFooterRowDef="['donatedAmount']">
  </mat-footer-row>

  <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': (dataSource.loading$ | async) == false}">
  </mat-footer-row>

  <mat-footer-row *matFooterRowDef="['noData']" class="hide"
    [ngClass]="{'show': (dataSource.loading$ | async) == false && dataSource.totalElements == 0 }">
  </mat-footer-row>
</mat-table>

<mat-paginator [length]="dataSource.totalElements" [pageSize]="dataSource.pageSize" [pageSizeOptions]="[5, 10, 25, 50]"
  [showFirstLastButtons]="true">
</mat-paginator>