<mat-toolbar>
  <mat-toolbar-row>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <div>Quản lý bài đăng</div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm layout-row">
    <span class="push-left-sm">
      <span class="mat-title">{{ title }}</span>
    </span>

    <span flex></span>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content class="card-container"
    *tdLoading="'loading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'primary';">
    <form [formGroup]="blogPostForm" flex fxLayout="column" fxLayoutGap="15px">
      <div fxLayout="row">
        <mat-icon class="custom-icon">title</mat-icon>
        <mat-form-field class="field-full-width">
          <input (blur)="onValueChanged()" formControlName="title" matInput placeholder="Tiêu đề" type="text" required>
          <mat-error *ngIf="formErrors.title">
            {{ formErrors.title }}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-icon class="custom-icon">subject</mat-icon>
        <mat-form-field class="field-full-width">
          <mat-label>Chủ đề</mat-label>
          <mat-select (change)="onValueChanged()" required formControlName="topicId">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let topic of topics" [value]="topic.id">
              {{topic.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formErrors.topicId">
            {{ formErrors.topicId }}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-icon class="custom-icon">title</mat-icon>
        <mat-form-field class="field-full-width">
          <input (blur)="onValueChanged()" formControlName="shortContent" matInput placeholder="Mô tả ngắn" type="text"
            required>
          <mat-error *ngIf="formErrors.shortContent">
            {{ formErrors.shortContent }}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-icon class="custom-icon">image</mat-icon>
        <mat-form-field tdFileDrop (fileDrop)="onSelectImage($event)" (click)="fileInput.inputElement.click()"
          (keyup.enter)="fileInput.inputElement.click()" (keyup.delete)="fileInput.clear()"
          (keyup.backspace)="fileInput.clear()" flex>
          <input matInput placeholder="Chọn ảnh thumbnail" [value]="file?.name" readonly />
        </mat-form-field>
        <button mat-icon-button *ngIf="file" (click)="onClearImage()" (keyup.enter)="fileInput.clear()">
          <mat-icon>cancel</mat-icon>
        </button>
        <td-file-input class="push-left-sm push-right-sm" accept='image/*' #fileInput (select)="onSelectImage($event)">
          <mat-icon>folder</mat-icon>
          <span class="text-upper"> Duyệt</span>
        </td-file-input>
      </div>
      <div fxLayout="row" *ngIf="thumbnailImage">
        <mat-icon class="custom-icon"></mat-icon>
        <img class="thumbnail-preview" [src]="thumbnailImage" alt="">
      </div>

      <div fxLayout="row">
        <mat-icon class="custom-icon">subtitles</mat-icon>
        <editor formControlName="content" #editor class="field-full-width" [apiKey]="tinyMCE.API_KEY"
          [init]="tinyMCE.SETTINGS"></editor>
        <div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button>
      Trở về
    </button>
    <button mat-raised-button color="accent" [disabled]="blogPostForm.invalid || submitting" (click)="onSubmit()">
      Lưu
    </button>
  </mat-card-actions>
</mat-card>