.mat-card-title {
  // text-align: center;
}


.card-container {
  margin: 2%;
  padding: 0 2% 2% 2%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

 .mat-icon {
    color: grey;
    width: 24px;
    margin: 20px 30px 0 0;
}