<mat-toolbar>
  <mat-toolbar-row>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <div>Quản lý vai trò và phân quyền</div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="push-bottom-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']">

  <td-search-box class="push-left push-right" placeholder="Tìm kiếm" [alwaysVisible]="true" #input></td-search-box>

  <!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div> -->

  <mat-table #table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="name"
    matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tên vai trò</mat-header-cell>
      <mat-cell *matCellDef="let role">{{role.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Mô tả</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let role">{{role.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let role">
        <button mat-icon-button (click)="onEdit(role.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(role.id)" color="warn">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator [length]="dataSource.totalElements" [pageSize]="dataSource.pageSize"
    [pageSizeOptions]="[5, 10, 25, 50]" [showFirstLastButtons]="true"></mat-paginator>
</mat-card>

<a mat-fab color="accent" class="mat-fab-bottom-right fixed z-3 button-add" (click)="onCreate()">
  <mat-icon>add</mat-icon>
</a>