<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Quản lý vai trò</span>
    <span flex></span>
  </div>
</mat-toolbar>


<mat-card>
  <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm layout-row">
    <span class="push-left-sm">
      <span class="mat-title">Danh sách vai trò</span>
    </span>

  </div>
  <mat-divider></mat-divider>

  <div class="search-box" flex fxLayout="row" fxLayoutAlign="end center">
    <mat-form-field class="w100">
      <mat-label>Tìm kiếm</mat-label>
      <input #search matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <mat-table #table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="name"
    matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tên vai trò</mat-header-cell>
      <mat-cell *matCellDef="let role">{{role.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Mô tả</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let role">{{role.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let role">
        <button *ngIf="role.name !== 'Admin'" mat-icon-button (click)="onEdit(role.id)" color="accent">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="role.name !== 'Admin'" mat-icon-button (click)="onDelete(role.id)" color="warn">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        <mat-spinner [diameter]="60" style="margin-top: 10px; margin-bottom: 10px;"></mat-spinner>
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': (dataSource.loading$ | async) == false}">
    </mat-footer-row>

  </mat-table>

  <mat-paginator [length]="dataSource.totalElements" [pageSize]="dataSource.pageSize"
    [pageSizeOptions]="[5, 10, 25, 50]" [showFirstLastButtons]="true"></mat-paginator>
</mat-card>

<a mat-fab color="accent" class="mat-fab-bottom-right fixed z-3 button-add" (click)="onCreate()">
  <mat-icon>add</mat-icon>
</a>