<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Quản lý vai trò</span>
    <span flex></span>
  </div>
</mat-toolbar>


<mat-card>
  <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
    <span class="push-left-sm">
      <span class="mat-title">Danh sách vai trò</span>
    </span>
    <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" flex>
    </td-search-box>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="toolbarMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #toolbarMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
      </mat-menu>
    </span>
  </div>
  <mat-divider></mat-divider>

  <br><br><br>

  <mat-table #table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="name"
    matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tên vai trò</mat-header-cell>
      <mat-cell *matCellDef="let role">{{role.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Mô tả</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let role">{{role.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let role">
        <button mat-icon-button (click)="onEdit(role.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(role.id)" color="warn">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator [length]="dataSource.totalElements" [pageSize]="dataSource.pageSize"
    [pageSizeOptions]="[5, 10, 25, 50]" [showFirstLastButtons]="true"></mat-paginator>
</mat-card>

<a mat-fab color="accent" class="mat-fab-bottom-right fixed z-3 button-add" (click)="onCreate()">
  <mat-icon>add</mat-icon>
</a>