<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Thông tin cá nhân</span>
    <span flex></span>
  </div>
</mat-toolbar>

<div flex fxLayout="row" fxLayout.lt-md="column">
  <div fxFlex="50">
    <mat-card class="push-bottom-xxl card-container" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <mat-card-title>
        <p>Thông tin cá nhân</p>
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="profileForm" flex fxLayout="column" fxLayoutGap="10px">
          <div flex fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="15px" fxLayoutGap.lt-md="0px">
            <div fxFlex="25">
              <img src="http://angular.demo.aspnetzero.com/assets/common/images/default-profile-picture.png" />
            </div>
            <div fxFlex="75">
              <div fxLayout="column" fxLayoutGap="10px">
                <div>
                  <mat-form-field class="field-full-width">
                    <input (blur)="onProfileFormValueChanged()" matInput placeholder="Họ và tên đệm"
                      formControlName="lastName" required>
                    <mat-error *ngIf="profileFormErrors.lastName">
                      {{ profileFormErrors.lastName }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="field-full-width">
                    <input (blur)="onProfileFormValueChanged()" matInput placeholder="Tên" formControlName="firstName"
                      required>
                    <mat-error *ngIf="profileFormErrors.firstName">
                      {{ profileFormErrors.firstName }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div fxLayout="row">
            <mat-icon class="custom-icon">account_circle</mat-icon>
            <mat-form-field class="field-full-width">
              <input matInput placeholder="Tên đăng nhập" formControlName="userName">
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-icon class="custom-icon">group</mat-icon>
            <mat-form-field class="field-full-width">
              <input matInput placeholder="Ban" formControlName="department">
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-icon class="custom-icon">email</mat-icon>
            <mat-form-field class="field-full-width">
              <input (blur)="onProfileFormValueChanged()" matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="profileFormErrors.email">
                {{ profileFormErrors.email }}
              </mat-error>
              <mat-hint *ngIf="profileForm.get('email').pending">
                Đang kiểm tra email ...
              </mat-hint>
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-icon class="custom-icon">phone</mat-icon>
            <mat-form-field class="field-full-width">
              <input matInput placeholder="Điện thoại" formControlName="phoneNumber">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.md="column">
            <div fxFlex="50" fxLayout="row">
              <mat-icon class="custom-icon">date_range</mat-icon>
              <mat-form-field class="field-full-width">
                <input matInput [matDatepicker]="picker" placeholder="Chọn ngày sinh" formControlName="birthDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
              <mat-icon class="custom-icon"></mat-icon>
              <label fxHide.lt-lg class="mat-radio-label">Giới tính</label>
              <mat-radio-group formControlName="gender">
                <mat-radio-button [value]="true">Nam</mat-radio-button>
                <mat-radio-button [value]="false">Nữ</mat-radio-button>
              </mat-radio-group>
            </div>

          </div>

          <div fxLayout="row">
            <mat-icon class="custom-icon">place</mat-icon>
            <mat-form-field class="field-full-width">
              <input matInput placeholder="Địa chỉ" formControlName="address">
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-icon class="custom-icon">place</mat-icon>
            <mat-form-field class="field-full-width">
              <input matInput placeholder="Tỉnh/Thành phố" formControlName="city">
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-icon class="custom-icon">pages</mat-icon>
            <mat-form-field class="field-full-width">
              <input matInput placeholder="Link facebook" formControlName="facebookLink">
            </mat-form-field>
          </div>

        </form>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="accent" (click)="onSubmitProfileForm()" [disabled]="profileForm.invalid">
          Lưu
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div fxFlex="50">
    <mat-card class="push-bottom-xxl card-container" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <mat-card-title>
        <p>Đổi mật khẩu</p>
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="updatePasswordForm" flex fxLayout="column" fxLayoutGap="10px">
          <div fxLayout="row">
            <mat-icon class="custom-icon">lock</mat-icon>
            <mat-form-field class="field-full-width">
              <input (blur)="onUpdatePasswordFormValueChanged()" matInput placeholder="Mật khẩu cũ" type="password"
                formControlName="oldPassword" required>
              <mat-error *ngIf="updatePasswordFormErrors.oldPassword">
                {{ updatePasswordFormErrors.oldPassword }}
              </mat-error>
            </mat-form-field>
          </div>
          <ng-container formGroupName="passwordGroup">
            <div fxLayout="row">
              <mat-icon class="custom-icon">replay</mat-icon>
              <mat-form-field class="field-full-width">
                <input (blur)="onUpdatePasswordFormValueChanged()" matInput placeholder="Mật khẩu mới" type="password"
                  formControlName="password" required>
                <mat-error *ngIf="updatePasswordFormErrors.password">
                  {{ updatePasswordFormErrors.password }}
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row">
              <mat-icon class="custom-icon">replay</mat-icon>
              <mat-form-field class="field-full-width">
                <input (blur)="onUpdatePasswordFormValueChanged()" matInput placeholder="Nhập lại mật khẩu mới"
                  type="password" formControlName="confirmPassword" [errorStateMatcher]="errorMatcher" required>
                <mat-error *ngIf="updatePasswordFormErrors.confirmPassword || updatePasswordFormErrors.passwordGroup">
                  {{ updatePasswordFormErrors.confirmPassword ?
                    updatePasswordFormErrors.confirmPassword : updatePasswordFormErrors.passwordGroup }}
                </mat-error>
              </mat-form-field>
            </div>
          </ng-container>
        </form>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="accent" (click)="onSubmitUpdatePasswordForm()"
          [disabled]="updatePasswordForm.invalid">
          Lưu
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>