// .card-container {
//   padding-left: 5%;
//   padding-right: 5%;
//   padding-bottom: 2%;
//   margin: 2%;
// }

.card-container {
  margin: 2%;
  padding: 2% 4% 2% 4%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

 .mat-icon {
    color: grey;
    width: 24px;
    margin: 20px 30px 0 0;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 10px;
}


.mat-radio-label {
  margin-right: 10px;
}
