<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{ title }}</span>
    <span flex></span>
  </div>
</mat-toolbar>

<mat-card>
  <mat-card-content *tdLoading="'loading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'primary';">
    <mat-tab-group>
      <mat-tab label="Thông tin cơ bản">
        <div class="mat-container">
          <form [formGroup]="eventForm" flex fxLayout="column" fxLayoutGap="15px">
            <div fxLayout="row">
              <mat-icon class="custom-icon">title</mat-icon>
              <mat-form-field class="field-full-width">
                <input (blur)="onValueChanged()" matInput placeholder="Tên sự kiện" type="text" formControlName="name"
                  required>
                <mat-error *ngIf="formErrors.name">
                  {{ formErrors.name }}
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row">
              <mat-icon class="custom-icon">title</mat-icon>
              <mat-form-field class="field-full-width">
                <input matInput placeholder="Mô tả ngắn" type="text" formControlName="shortDescription">
              </mat-form-field>
            </div>
            <div fxLayout="row">
              <mat-icon class="custom-icon">short_text</mat-icon>
              <mat-form-field class="field-full-width">
                <textarea cdkTextareaAutosize matInput placeholder="Nội dung" type="text"
                  formControlName="description"></textarea>
              </mat-form-field>
            </div>
            <div fxLayout="row">
              <mat-icon class="custom-icon">image</mat-icon>
              <mat-form-field tdFileDrop (fileDrop)="onSelectImage($event)" (click)="fileInput.inputElement.click()"
                (keyup.enter)="fileInput.inputElement.click()" (keyup.delete)="fileInput.clear()"
                (keyup.backspace)="fileInput.clear()" flex>
                <input matInput placeholder="Chọn ảnh thumbnail" [value]="file?.name" readonly />
              </mat-form-field>
              <button mat-icon-button *ngIf="file" (click)="onClearImage()" (keyup.enter)="fileInput.clear()">
                <mat-icon>cancel</mat-icon>
              </button>
              <td-file-input class="push-left-sm push-right-sm" accept='image/*' #fileInput
                (select)="onSelectImage($event)">
                <mat-icon>folder</mat-icon>
                <span class="text-upper"> Duyệt</span>
              </td-file-input>
            </div>
            <div fxLayout="row" *ngIf="thumbnailImage">
              <mat-icon class="custom-icon"></mat-icon>
              <img class="thumbnail-preview" [src]="thumbnailImage" alt="">
            </div>
            <div fxLayout="row">
              <mat-icon class="custom-icon">title</mat-icon>
              <mat-form-field class="field-full-width">
                <input (blur)="onValueChanged()" matInput placeholder="Địa điểm" type="text" formControlName="location"
                  required>
                <mat-error *ngIf="formErrors.location">
                  {{ formErrors.location }}
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row">
              <mat-icon class="custom-icon">subject</mat-icon>
              <mat-form-field class="field-full-width">
                <mat-label>Chủ đề</mat-label>
                <mat-select (change)="onValueChanged()" required formControlName="topicId">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let topic of topics" [value]="topic.id">
                    {{topic.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formErrors.topicId">
                  {{ formErrors.topicId }}
                </mat-error>
              </mat-form-field>
            </div>
            <div [formGroup]="eventForm.get('dateGroup')" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">
              <div fxFlex="50" fxLayout="row">
                <mat-icon class="custom-icon">date_range</mat-icon>
                <mat-form-field class="field-full-width">
                  <input (blur)="onValueChanged()" (dateChange)="onStartTimeChange($event.target.value)" matInput
                    [matDatepicker]="startTimePicker" placeholder="Ngày bắt đầu" formControlName="startTime" required
                    readonly>
                  <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
                  <mat-datepicker #startTimePicker></mat-datepicker>
                  <mat-error *ngIf="formErrors.startTime">
                    {{ formErrors.startTime }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex=" 50" fxLayout="row">
                <mat-icon class="custom-icon">date_range</mat-icon>
                <mat-form-field class="field-full-width">
                  <input (blur)="onValueChanged()" (dateChange)="onEndTimeChange($event.target.value)" matInput
                    [matDatepicker]="endTimePicker" placeholder="Ngày kết thúc" formControlName="endTime" required
                    readonly [errorStateMatcher]="errorMatcher">
                  <mat-datepicker-toggle matSuffix [for]="endTimePicker"></mat-datepicker-toggle>
                  <mat-datepicker #endTimePicker></mat-datepicker>
                  <mat-error *ngIf="formErrors.endTime || formErrors.dateGroup">
                    {{ formErrors.endTime ? formErrors.endTime : formErrors.dateGroup}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">
              <div fxFlex="50" fxLayout="row">
                <mat-icon class="custom-icon">group</mat-icon>
                <mat-form-field class="field-full-width">
                  <input (blur)="onValueChanged()" matInput placeholder="Số lượng dự kiến" type="number" min="0"
                    formControlName="expectedQuantity" required>
                  <mat-error *ngIf="formErrors.expectedQuantity">
                    {{ formErrors.expectedQuantity }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50">
                <div fxLayout="row" fxLayoutGap="15px">
                  <div fxFlex="80" fxLayout="row">
                    <mat-icon class="custom-icon">attach_money</mat-icon>
                    <mat-form-field class="field-full-width">
                      <input (blur)="onValueChanged()" matInput placeholder="Lệ phí tham gia" type="number"
                        formControlName="fee" required>
                      <mat-error *ngIf="formErrors.fee">
                        {{ formErrors.fee }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="20" fxLayout="row">
                    <mat-form-field class="field-full-width">
                      <mat-label>Loại tiền</mat-label>
                      <mat-select (change)="onValueChanged()" required formControlName="currencyId">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let currency of currencies" [value]="currency.id">
                          {{currency.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="formErrors.currencyId">
                        {{ formErrors.currencyId }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <!-- <div fxFlex="80">
                  <mat-icon class="custom-icon">attach_money</mat-icon>
                  <mat-form-field>
                    <input matInput placeholder="Lệ phí tham gia" type="text" formControlName="fee">
                  </mat-form-field>
                </div>
                <div fxFlex="20">
                  <mat-form-field class="field-full-width">
                    <mat-label>Loại tiền</mat-label>
                    <mat-select required formControlName="topicId">
                      <mat-option value="VND">VND</mat-option>
                      <mat-option value="USD">USD</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
              </div>
            </div>

          </form>
        </div>
      </mat-tab>
      <mat-tab label="Kế hoạch">
        <div class="mat-container">
          <app-event-schedule [schedules]="schedules" [maxDate]="maxDate" [minDate]="minDate"
            (changeSchedules)="changeEventSchedules($event)">
          </app-event-schedule>
        </div>

      </mat-tab>
      <mat-tab *ngIf="isEdit" label="Tình nguyện viên">
        <div class="mat-container">
          <app-volunteer-list [eventId]="eventId"></app-volunteer-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-flat-button>
      Trở về
    </button>
    <button mat-raised-button color="accent" [disabled]="eventForm.invalid || submitting" (click)="onSubmit()">
      Lưu
    </button>
  </mat-card-actions>

</mat-card>