<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content *tdLoading="'loading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'primary';">
  <div class=" mat-container">
    <form [formGroup]="userForm" flex fxLayout="column" fxLayoutGap="10px">
      <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutGap.lt-md="0px">
        <div fxFlex="25">
          <img src="http://angular.demo.aspnetzero.com/assets/common/images/default-profile-picture.png" />
        </div>
        <div fxFlex="75">
          <div fxLayout="column" fxLayoutGap="10px">
            <div>
              <mat-form-field class="field-full-width">
                <input (blur)="onValueChanged()" matInput formControlName="lastName" placeholder="Họ và tên đệm"
                  type="text" required>
                <mat-error *ngIf="formErrors.lastName">
                  {{ formErrors.lastName }}
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="field-full-width">
                <input (blur)="onValueChanged()" matInput formControlName="firstName" placeholder="Tên" type="text"
                  required>
                <mat-error *ngIf="formErrors.firstName">
                  {{ formErrors.firstName }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row">
        <mat-icon class="custom-icon">email</mat-icon>
        <mat-form-field class="field-full-width">
          <input (blur)="onValueChanged()" matInput formControlName="email" placeholder="Email" type="email" required>
          <mat-error *ngIf="formErrors.email">
            {{ formErrors.email }}
          </mat-error>
          <mat-hint *ngIf="userForm.get('email').pending">
            Đang kiểm tra email ...
          </mat-hint>

        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-icon class="custom-icon">account_circle</mat-icon>
        <mat-form-field class="field-full-width">
          <input (blur)="onValueChanged()" matInput formControlName="userName" placeholder="Tên đăng nhập" type="text"
            required>
          <mat-error *ngIf="formErrors.userName">
            {{ formErrors.userName}}
          </mat-error>
          <mat-hint *ngIf="userForm.get('userName').pending">
            Đang kiểm tra tên đăng nhập ...
          </mat-hint>
        </mat-form-field>
      </div>

      <div *ngIf="!isEdit">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" [formGroup]="userForm.get('passwordGroup')">
          <div fxFlex="50" fxLayout="row">
            <mat-icon class="custom-icon">lock</mat-icon>
            <mat-form-field class="field-full-width">
              <input (blur)="onValueChanged()" matInput formControlName="password" placeholder="Mật khẩu"
                [type]="hidePassword ? 'password' : 'text'" required>
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                {{hidePassword ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error *ngIf="formErrors.password">
                {{ formErrors.password }}
              </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="50" fxLayout="row">
            <mat-icon class="custom-icon"></mat-icon>
            <mat-form-field class="field-full-width">
              <input (blur)="onValueChanged()" matInput placeholder="Nhập lại mật khẩu"
                [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword" required
                [errorStateMatcher]="errorMatcher">
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                {{hidePassword ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error *ngIf="formErrors.confirmPassword || formErrors.passwordGroup">
                {{ formErrors.confirmPassword ? formErrors.confirmPassword : formErrors.passwordGroup }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row">
        <mat-icon class="custom-icon">group</mat-icon>
        <mat-form-field class="field-full-width">
          <mat-label>Ban</mat-label>
          <mat-select formControlName="departmentId">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let department of departments" [value]="department.id">
              {{department.name}}
            </mat-option>
          </mat-select>
          <mat-hint>
            Bỏ trống nếu không thuộc thành viên diễn đàn.
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-icon class="custom-icon">pan_tool</mat-icon>
        <mat-form-field class="field-full-width">
          <mat-label>Vai trò</mat-label>
          <mat-select (change)="onValueChanged()" multiple formControlName="roles" required>
            <mat-option *ngFor="let role of roles" [value]="role.id">{{role.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="formErrors.roles">
            {{ formErrors.roles }}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-icon class="custom-icon"></mat-icon>
        <mat-slide-toggle formControlName="isActive">Kích hoạt tài khoản</mat-slide-toggle>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Trở về</button>
  <button mat-button mat-raised-button color="accent" [disabled]="!userForm.valid || userForm.pending || submitting"
    (click)="onSubmit()">Lưu</button>
</mat-dialog-actions>