<div flex fxLayout="column" class="login-container" fxLayoutAlign="center center" fxFlexFill>
  <mat-card class="card-container">
    <div class="login-box-header">
      <img src="assets/icons/sv-logo.png">
    </div>
    <mat-card-content class="login-box-body">
      <form fxLayout="column" fxFlex fxLayoutGap="10px" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <p class="login-title">Quên mật khẩu</p>
        <div fxLayout="row">
          <mat-icon class="custom-icon">email</mat-icon>
          <mat-form-field class="field-full-width">
            <input matInput placeholder="Email" required type="email" formControlName="email">
            <mat-error *ngFor="let validation of validationMessages.email">
              <mat-error class="error-message"
                *ngIf="email.hasError(validation.type) && (email.dirty || email.touched)">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <button mat-raised-button class="login-button" [disabled]="forgotPasswordForm.invalid">
            Lấy lại mật khẩu
          </button>
        </div>
      </form>
    </mat-card-content>
    <div *ngIf="loading" class="relative">
      <app-spinner-overlay></app-spinner-overlay>
    </div>
  </mat-card>
</div>