<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Trang tổng quan</span>
    <span flex></span>
    <!-- <span layout="row" class="push-left-sm push-right mat-body-1">
      <mat-form-field floatPlaceholder="never" flex>
        <input matInput readonly [matDatepicker]="pickerFrom">
        <mat-datepicker-toggle matSuffix matTooltip="Start date" [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>

    </span>
    <span hide-xs class="mat-body-2 push-right"> to </span>
    <span layout="row" class="mat-body-1">
      <mat-form-field floatPlaceholder="never" flex>
        <input matInput readonly [matDatepicker]="pickerTo">
        <mat-datepicker-toggle matSuffix matTooltip="End date" [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>

    </span> -->
  </div>
</mat-toolbar>


<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex-gt-sm="100">
    <div layout-gt-xs="row">
      <div flex-gt-xs="25">
        <mat-card>
          <mat-card-content class="text-center">
            <div class="mat-headline push-bottom-none">{{ '1200'| digits }} <mat-icon class="tc-green-500 text-sm">
                arrow_upward</mat-icon>
            </div>
            <mat-icon class="icon tc-cyan-700">perm_contact_calendar</mat-icon>
            <div>
              <div class="mat-subheading-2 push-bottom-none">Người dùng hoạt động</div>
              <div class="mat-caption tc-grey-600">cập nhật {{ '2018-06-17 12:59:59' | dateTimeAgo }}</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div flex-gt-xs="25">
        <mat-card>
          <mat-card-content class="text-center">
            <div class="mat-headline push-bottom-none">{{ '250' | digits }} <mat-icon class="tc-red-500 text-sm">
                arrow_downward</mat-icon>
            </div>
            <mat-icon class="icon tc-cyan-700">note_add</mat-icon>
            <div>
              <div class="mat-subheading-2 push-bottom-none">Bài viết</div>
              <div class="mat-caption tc-grey-600">cập nhật {{ '2018-07-18 11:02:59' | dateTimeAgo }}</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div flex-gt-xs="25">
        <mat-card>
          <mat-card-content class="text-center">
            <div class="mat-headline push-bottom-none">{{ '15' | digits}} <mat-icon class="tc-green-500 text-sm">
                arrow_upward</mat-icon>
            </div>
            <mat-icon class="icon tc-cyan-700">event</mat-icon>
            <div>
              <div class="mat-subheading-2 push-bottom-none">Sự kiện</div>
              <div class="mat-caption tc-grey-600">cập nhật {{ '2018-07-13 09:59:59' | dateTimeAgo }}</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div flex-gt-xs="25">
        <mat-card>
          <mat-card-content class="text-center">
            <div class="mat-headline push-bottom-none">{{ '20' | digits}} <mat-icon class="tc-green-500 text-sm">
                arrow_upward</mat-icon>
            </div>
            <mat-icon class="icon tc-cyan-700">receipt</mat-icon>
            <div>
              <div class="mat-subheading-2 push-bottom-none">Dự án</div>
              <div class="mat-caption tc-grey-600">cập nhật {{ '2018-07-13 09:59:59' | dateTimeAgo }}</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div layout-gt-xs="row">
      <div flex-gt-sm="50">
        <mat-card>
          <mat-card-title>
            <div layout="row" layout-align="start center">
              <span flex>Tổng số tiền gây quỹ</span>
            </div>
          </mat-card-title>
          <mat-divider></mat-divider>
          <div class="pad">
            <div [style.height.px]="250" #container>
              <ngx-charts-pie-grid [view]="[container.offsetWidth, 250]" [scheme]="colorScheme"
                [results]="dashboard.totalRaisedByTopic" [label]="'Tổng tiền'">
              </ngx-charts-pie-grid>
            </div>
          </div>
        </mat-card>
      </div>
      <div flex-gt-sm="50">
        <mat-card>
          <mat-card-title>
            <div layout="row" layout-align="start center">
              <span flex>Tổng tiền gây quỹ được trong năm</span>
            </div>
          </mat-card-title>
          <mat-divider></mat-divider>
          <div class="pad">
            <div [style.height.px]="250">
              <!-- <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="dashboard.totalRaisedLastestYear"
                [barPadding]="18" [groupPadding]="28" [gradient]="true" [xAxis]="true" [yAxis]="true" [legend]="true"
                [legendTitle]="'Năm'" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel" [yAxisTickFormatting]="axisDigits">
              </ngx-charts-bar-vertical-2d> -->
              <ngx-charts-line-chart [scheme]="colorScheme" [results]="dashboard.totalRaisedInYear"
                [gradient]="gradient" [autoScale]="false" [xAxis]="true" [yAxis]="true" [legend]="true"
                [legendTitle]="'Chủ đề'" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel">
              </ngx-charts-line-chart>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div layout-gt-xs="row">
      <div flex-gt-xs="50">
        <mat-card>
          <mat-card-title>Cuộc họp gần đây</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-nav-list class="item-list">
            <td-virtual-scroll-container #virtualScroll [style.height.px]="220" [data]="dashboard.lastestMeetings">
              <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
                <a mat-list-item layout-align="row">
                  <mat-icon matListAvatar> event_note </mat-icon>
                  <h3 matLine> {{row.name}} </h3>
                  <p matLine> {{row.location | truncate:50 }} </p>
                  <span flex></span>
                  <span class="mat-caption text-right" flex="40"> {{row.createdAt | datetimeFormat }}
                    ({{ row.createdAt | dateTimeAgo }})</span>
                </a>
                <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
              </ng-template>
            </td-virtual-scroll-container>
          </mat-nav-list>

        </mat-card>
      </div>
      <div flex-gt-xs="50">
        <mat-card>
          <mat-card-title>Hoạt động người dùng</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-nav-list class="item-list">
            <td-virtual-scroll-container #virtualScroll [style.height.px]="220" [data]="dashboard.userActivities">
              <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
                <a mat-list-item layout-align="row">
                  <!-- <mat-icon matListAvatar>person</mat-icon> -->
                  <img matListAvatar mat-card-avatar
                    src="http://222.255.167.89/svdanang-0.0.1-SNAPSHOT/api/downloadFile/59641240_2400041123616385_4977906665597698048_n-07052019224424.jpg"
                    alt="">
                  <h4 matLine>{{row.activity}}</h4>
                  <span flex></span>
                  <span class="mat-caption text-right" flex="40">
                    {{ row.createdAt | dateTimeAgo }}</span>
                  <!-- <p matLine>Row: {{row.index}}</p> -->
                </a>
                <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
              </ng-template>
            </td-virtual-scroll-container>
          </mat-nav-list>
        </mat-card>
      </div>
    </div>


  </div>
</div>