<mat-table #table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="firstName"
  matSortDirection="asc" matSortDisableClear>

  <ng-container matColumnDef="avatar">
    <mat-header-cell *matHeaderCellDef> Ảnh đại diện </mat-header-cell>
    <mat-cell *matCellDef="let volunteer">
      <img mat-card-avatar *ngIf="user.avatar;else noAvatar" [src]="volunteer.avatar">
      <ng-template #noAvatar>
        <img mat-card-avatar alt=""
          src="http://angular.demo.aspnetzero.com/assets/common/images/default-profile-picture.png" />
      </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef>Họ và tên đệm</mat-header-cell>
    <mat-cell *matCellDef="let volunteer">{{volunteer.lastName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Tên</mat-header-cell>
    <mat-cell *matCellDef="let volunteer">{{volunteer.firstName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
    <mat-cell *matCellDef="let volunteer">{{volunteer.email}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="gender">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Giới tính</mat-header-cell>
    <mat-cell *matCellDef="let volunteer">{{volunteer.gender ? "Nam" : "Nữ"}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <mat-header-cell *matHeaderCellDef>Điện thoại</mat-header-cell>
    <mat-cell *matCellDef="let volunteer">{{volunteer.phoneNumber}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let volunteer">
      <button mat-icon-button color="primary" (click)="onView(volunteer.id)">
        <mat-icon>launch</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<!-- <div *ngIf="dataSource.loading$ | async">
  <app-spinner-overlay>
  </app-spinner-overlay>
</div> -->

<mat-paginator [length]="dataSource.totalElements" [pageSize]="dataSource.pageSize" [pageSizeOptions]="[5, 10, 25, 50]"
  [showFirstLastButtons]="true">
</mat-paginator>