 .custom-icon {
    // color: grey;
    // width: 24px;
    margin: 17px 30px 0 0;
}

table {
  width: 100%;
}

.td-expansion-panel-header{
  background-color: red !important;
}

.expansion-header {
  background-color: red !important;
}
