<div align="start" *ngIf="minDate && maxDate;else chooseDate">
  <button mat-raised-button color="accent" (click)="onCreate()">
    Thêm lịch trình
  </button>
</div>
<ng-template #chooseDate>
  <td-message #message sublabel=" Vui lòng chọn ngày bắt đầu và kết thúc sự kiện trước khi tạo lịch trình." icon="info"
    color="primary" [opened]="true">
  </td-message>

</ng-template>


<h3 align="center" *ngIf="schedules.length > 0">Lịch trình sự kiện</h3>


<div *ngFor="let schedule of schedules; index as i">
  <td-expansion-panel [expand]="false">
    <ng-template td-expansion-panel-label class="expansion-header">
      <mat-icon>access_time</mat-icon>
      <span style="padding-left: 10px">{{ schedule.startTime | datetimeFormat }}</span>
    </ng-template>
    <td-expansion-summary>
      <mat-list>
        <mat-list-item>
          <mat-icon matListAvatar>pin_drop</mat-icon>
          <h4 matLine>{{ schedule.schedule }}</h4>
          <p matLine>
            {{ schedule.location }}
          </p>
          <button mat-button color="accent" (click)="onEdit(schedule, i)">
            <!-- <mat-icon>edit</mat-icon> -->
            Sửa
          </button>
          <button mat-button color="warn" (click)="onRemoveSchedule(i)">
            Xoá
            <!-- <mat-icon>delete_outline</mat-icon> -->
          </button>
        </mat-list-item>
      </mat-list>
    </td-expansion-summary>
  </td-expansion-panel>
</div>