<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Quản lý sự kiện</span>
    <span flex></span>
  </div>
</mat-toolbar>

<mat-card>
  <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
    <span class="push-left-sm">
      <span class="mat-title">Danh sách sự kiện</span>
    </span>
    <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here"
      (searchDebounce)="search($event)" flex>
    </td-search-box>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="toolbarMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #toolbarMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
      </mat-menu>
    </span>
  </div>
  <mat-divider></mat-divider>


  <br><br><br>
  <mat-table #table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="createdDate"
    matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tên sự kiện</mat-header-cell>
      <mat-cell *matCellDef="let event">{{event.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Mô tả</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let event">{{event.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Địa điểm</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let event">{{event.location}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="topic">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Chủ đề</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let event">{{event.topic?.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <mat-header-cell *matHeaderCellDef>Ngày bắt đầu</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let event">{{event.startTime }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="endTime">
      <mat-header-cell *matHeaderCellDef>Ngày kết thúc</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let event">{{event.endTime }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <mat-header-cell *matHeaderCellDef>Ngày tạo</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let event">{{event.createdDate }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Trạng thái</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let event">Status here..</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let event">
        <button mat-icon-button color="primary" (click)="onEdit(event.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(event.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>


  </mat-table>

  <div *ngIf="dataSource.loading$ | async">
    <app-spinner-overlay>
    </app-spinner-overlay>
  </div>

  <mat-paginator [length]="dataSource.totalElements" [pageSize]="dataSource.pageSize"
    [pageSizeOptions]="[5, 10, 25, 50]" [showFirstLastButtons]="true">
  </mat-paginator>

</mat-card>

<a mat-fab color="accent" class="mat-fab-bottom-right fixed z-3 button-add" (click)="onCreate()">
  <mat-icon>add</mat-icon>
</a>