<div flex fxLayout="column" class="login-container" fxLayoutAlign="center center" fxFlexFill>
  <mat-card class="card-container">
    <div class="login-box-header">
      <img src="assets/icons/sv-logo.png">
    </div>
    <mat-card-content class="login-box-body">
      <form fxLayout="column" fxFlex fxLayoutGap="10px" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <p class="login-title">Thay đổi mật khẩu</p>
        <div fxLayout="row">
          <mat-icon class="custom-icon">lock</mat-icon>
          <mat-form-field class="field-full-width">
            <input matInput placeholder="Mật khẩu mới" required type="password" formControlName="password">
            <mat-error *ngFor="let validation of validationMessages.password">
              <mat-error class="error-message"
                *ngIf="password.hasError(validation.type) && (password.dirty || password.touched)">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-icon class="custom-icon">repeat</mat-icon>
          <mat-form-field class="field-full-width">
            <input matInput placeholder="Nhập lại mật khẩu" required type="password" formControlName="confirmPassword"
              [errorStateMatcher]="errorMatcher">
            <mat-error *ngFor="let validation of validationMessages.confirmPassword">
              <mat-error class="error-message"
                *ngIf="confirmPassword.hasError(validation.type) && (confirmPassword.dirty || confirmPassword.touched)">
                {{validation.message}}</mat-error>
            </mat-error>
            <mat-error *ngFor="let validation of validationMessages.changePasswordForm">
              <mat-error class="error-message"
                *ngIf="changePasswordForm.hasError(validation.type) && (confirmPassword.dirty || confirmPassword.touched) && !confirmPassword.hasError('required')">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <button mat-raised-button class="login-button" [disabled]="changePasswordForm.invalid">
            Thay đổi mật khẩu
          </button>
        </div>
      </form>
    </mat-card-content>
    <div *ngIf="loading" class="relative">
      <app-spinner-overlay></app-spinner-overlay>
    </div>
  </mat-card>
</div>